{% extends 'accounts/layouts/main.html' %}

{% block title %}

Sharma coder
{% endblock title %}

{% block content %}

<h1>Hello coders</h1>

<section>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">

                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{blogs.title}}</td>
                                    <td>{{blogs.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}